.img_404
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h1_404
{
    width: 100%;
    color: #FFF;
    font-size: 44vw;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.container
{
    width: 100vw;
    height: 1200vh;
}

.wrapper-404
{
    position: absolute;
    width: 450vw;
    height: 100vh;
    will-change: trasform;
}

.card
{
    position: absolute;
    width: 290px;
    height: 190px;
    border-radius: 1.2rem;
    overflow: hidden;
}

#card-1
{
    top: 50%;
    left: 20%;
}

#card-2
{
    top: 25%;
    left: 40%;
}

#card-3
{
    top: 45%;
    left: 60%;
}

#card-4
{
    top: 15%;
    left: 80%;
}

.outro
{
    position: absolute;
    top: 150vh;
    width: 100%;
    height: 100vh;

}

.outro h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: max-content;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}